Sistema_Control_Inventario/pkgs/Wadl/crearArchivo_cargaMasiva.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="crearArchivo_cargaMasiva" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="crearArchivo_cargaMasiva" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_file_def_name_def" />
      <base64Binary name="ManualTriggerInput_file_def_contentBytes_def" />
      <object name="ManualTriggerInput_file_def">
        <property name="name" type="string" />
        <property name="contentBytes" typeRef="ManualTriggerInput_file_def_contentBytes_def" />
      </object>
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="file" typeRef="ManualTriggerInput_file_def" />
      </object>
      <string name="ResponseActionOutput_items_def_ID_def" />
      <string name="ResponseActionOutput_items_def_LOCAL_def" />
      <string name="ResponseActionOutput_items_def_FACULTAD_def" />
      <string name="ResponseActionOutput_items_def_PISO_def" />
      <string name="ResponseActionOutput_items_def_AREA_def" />
      <string name="ResponseActionOutput_items_def_TIPO_AREA_def" />
      <string name="ResponseActionOutput_items_def_PABELLON_def" />
      <string name="ResponseActionOutput_items_def_NOMBRE_AREA_def" />
      <string name="ResponseActionOutput_items_def_BIEN_INFORMATICO_def" />
      <string name="ResponseActionOutput_items_def_PATRIMONIO_def" />
      <string name="ResponseActionOutput_items_def_PATRIMONIO_REFERENCIA_def" />
      <string name="ResponseActionOutput_items_def_MARCA_def" />
      <string name="ResponseActionOutput_items_def_MODELO_def" />
      <string name="ResponseActionOutput_items_def_NUM_SERIE_def" />
      <string name="ResponseActionOutput_items_def_DISCO_DURO_def" />
      <string name="ResponseActionOutput_items_def_MEMORIA_RAM_def" />
      <string name="ResponseActionOutput_items_def_PROCESADOR_def" />
      <string name="ResponseActionOutput_items_def_GENERACION_PROCESADOR_def" />
      <string name="ResponseActionOutput_items_def_HOSTNAME_CPU_def" />
      <string name="ResponseActionOutput_items_def_IP_BIEN_INFORMATICO_def" />
      <string name="ResponseActionOutput_items_def_ANEXO_TELEFONO_def" />
      <string name="ResponseActionOutput_items_def_TIPO_IMPRESORA_def" />
      <string name="ResponseActionOutput_items_def_TIPO_CONECTOR_IMPRESORA_def" />
      <string name="ResponseActionOutput_items_def_TIPO_CONECTOR_TECLADO_def" />
      <string name="ResponseActionOutput_items_def_TIPO_CONECTOR_MONITOR_def" />
      <string name="ResponseActionOutput_items_def_ESTADO_def" />
      <string name="ResponseActionOutput_items_def_SITUACION_ACTUAL_def" />
      <string name="ResponseActionOutput_items_def_FICHA_BAJA_def" />
      <string name="ResponseActionOutput_items_def_JEFE_INMEDIATO_def" />
      <string name="ResponseActionOutput_items_def_USUARIO_RESPONSABLE_def" />
      <string name="ResponseActionOutput_items_def_TECNICO_REPONSABLE_def" />
      <string name="ResponseActionOutput_items_def_CORREO_TECNICO_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="ID" type="string" />
        <property name="LOCAL" type="string" />
        <property name="FACULTAD" type="string" />
        <property name="PISO" type="string" />
        <property name="AREA" type="string" />
        <property name="TIPO_AREA" type="string" />
        <property name="PABELLON" type="string" />
        <property name="NOMBRE_AREA" type="string" />
        <property name="BIEN_INFORMATICO" type="string" />
        <property name="PATRIMONIO" type="string" />
        <property name="PATRIMONIO_REFERENCIA" type="string" />
        <property name="MARCA" type="string" />
        <property name="MODELO" type="string" />
        <property name="NUM_SERIE" type="string" />
        <property name="DISCO_DURO" type="string" />
        <property name="MEMORIA_RAM" type="string" />
        <property name="PROCESADOR" type="string" />
        <property name="GENERACION_PROCESADOR" type="string" />
        <property name="HOSTNAME_CPU" type="string" />
        <property name="IP_BIEN_INFORMATICO" type="string" />
        <property name="ANEXO_TELEFONO" type="string" />
        <property name="TIPO_IMPRESORA" type="string" />
        <property name="TIPO_CONECTOR_IMPRESORA" type="string" />
        <property name="TIPO_CONECTOR_TECLADO" type="string" />
        <property name="TIPO_CONECTOR_MONITOR" type="string" />
        <property name="ESTADO" type="string" />
        <property name="SITUACION_ACTUAL" type="string" />
        <property name="FICHA_BAJA" type="string" />
        <property name="JEFE_INMEDIATO" type="string" />
        <property name="USUARIO_RESPONSABLE" type="string" />
        <property name="TECNICO_REPONSABLE" type="string" />
        <property name="CORREO_TECNICO" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="name" />
            </param>
            <param style="plain" name="file" path="/file" type="service:ManualTriggerInput_file_def">
              <doc title="archivo" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>